body, html {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #e18a26c2, #cd6633e3);
    font-family: Monaco, monospace;
    font-size: 16px;
}

.black-bar {
    background-color: black;
    height: 40px; /* Increased height for better visibility */
    width: 100%;
    display: flex;
    align-items: center; /* Center-align text vertically */
    justify-content: center; /* Center-align text horizontally */
}

.bar-link {
    color: rgb(237, 121, 63); 
    text-decoration: none;
    font-size: 14pt;
    font-weight: normal;
    margin: 0 20px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}